*{letter-spacing: 1px;}
body{position:absolute;margin:0px;top:0px;bottom:0px;left:0px;right:0px;font-family:sans-serif;font-size:12px;line-height:1.4}

/*BASE COLORS*/
	/*@dark_gray: #333333;*/

/*MAIN APPLICATION WRAPPER*/
	#main-application-wrapper{left:0px;right:0px;top:0px;bottom:0px;}

	#main-application-top-navigation{left:0px;right:0px;top:0px;height:60px;background:red;}

/*sidebar*/
.sidebar-header,.main-header{left:0px;right:0px;top:0px;height:60px;}
.left-collection-item{left:0px;right:0px;height:60px;}
.sidebar-header-icon{left:15px;right:15px;top:15px;bottom:15px;font-size: 16pt;text-align: center;vertical-align:middle;line-height:45px;}
.lc-f18pt {font-size: 18pt;}

/*sub header*/
.sub-header{left:0px;right:0px;top:60px;height:40px;}
.sub-header-item{left:0px;top:0px;bottom:0px;width:200px;line-height: 40px; vertical-align: middle;}
.sub-head-item-main{background:#29abe2;}

/*left*/
/*#left{left:0px;top:0px;bottom:0px;width:60px;background:#afafaf;}
#left-user{background:#999999;} #left-user span {border-radius: 80px; border:1px solid #333!important;}
#lc-1{top:60px;}#lc-2{top:120px;}#lc-3{top:180px;}#lc-4{top:240px;}#lc-5{top:300px;}*/

/*main content*/
/*#main-content-header-sub1{background:#3a3a3a;}
#main-content{left:60px;top:0px;bottom:0px;right:0px;background:#f3f3f3;}
#main-content-header{background:#333333;}*/

.h2-c{font-family: "Helvetica Neue",sans-serif;font-weight: 100; color:#FFF; font-size: 12pt; padding-left: 20px;}


.sc-view {
	cursor: default;
	overflow: hidden;
	position: absolute;
	margin: 0px;
	border: solid 0 transparent;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}